$Black: rgba(0, 0, 0, 1);
$Black50: rgba(0, 0, 0, 0.5);
$White: rgba(255, 255, 255, 1);
$White50: rgba(255, 255, 255, 0.5);

@mixin Reg {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
}

@mixin SemiBold {
  font-family: "IBM Plex Serif", serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  cursor: pointer;
}

button,
input {
  @include SemiBold();
  border: none;
  border-radius: 0;
  background-color: transparent;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $White;
  font-family: "IBM Plex Serif", serif;
}

h1 {
  margin: 1rem 0;
  font-size: 5rem;
}

h2 {
  margin: 1rem 0;
  font-size: 4rem;
}

h3 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

h4 {
  margin: 1rem 0;
  font-size: 2rem;
}

p {
  margin: 1rem 0;
  font-size: 1.8rem;
}

nav {
  justify-content: space-between;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
  padding: 2.5rem;

  a,
  button,
  .user-name {
    @include SemiBold();
    display: block;
    text-decoration: none;
    font-size: 1.5rem;
    color: $Black;
    transition: color 0.5s ease;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    li {
      margin-right: 1.5rem;
    }

    a,
    button {
      &:visited {
        color: $Black;
      }

      &:hover {
        color: $Black50;
      }
    }
  }
}

form {
  border-radius: 10px;
  border: 2px solid $Black;
  max-width: 500px;
  margin: 50px auto;
  padding: 30px;

  input,
  label {
    @include SemiBold();
    display: block;
    width: 100%;
    color: $Black;
    font-size: 1.9rem;

    &::placeholder {
      color: $Black50;
    }
  }

  label {
    margin-bottom: 1.5rem;
  }

  input {
    margin-bottom: 2.5rem;
    border-bottom: 2px solid $Black;
    padding-bottom: 0.5rem;
  }

  button {
    display: block;
    width: 100%;
    padding: 2.5rem;
    background-color: transparent;
    border: 2px solid black;
    color: black;
    font-size: 2.5rem;
    margin: 0 auto 2.5rem auto;
    cursor: pointer;
  }
}
